@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu{
    display: none;
}
article{
    width: 100%;
}
article::after{
    content: 'Esse artigo foi impresso atravedo site';
}
